.container {
    width: var(--container-width);
    margin-inline: auto;
    
}

nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    padding: var(--space-sm);
}

.nav-list > li {
    padding-inline: var(--space-sm);
}

#hero {
    border: 1px solid red;
}

#hero > h2 {
    border: 1px solid red;
}

#hero > p {
    border: 1px solid red;
}

body {
    border: 2px solid blue;
}

#projects {
    border: 1px solid blueviolet;
}

.project {
    border: 1px solid violet;
    margin-block: var(--space-md);
    margin-inline: auto;
    padding: var(--space-md);
    width: var(--container-width);
}

#about-me {
    border: 1px solid green;
    padding-block: var(--space-md);
}

#about-me > h2 {
    border: 1px solid green;
}

#about-me > p {
    border: 1px solid green;
}

#contact {
    display: flex;
    justify-content: center;
}

.contact-list {
    display: flex;
    padding: var(--space-sm);
}

.contact-list > li {
    padding-inline: var(--space-sm);
}